<%= form_remote_tag( 
	:update => "updatePasswordDIV", 
	:url => { :controller => "account" , :action => "updatePassword" } , 
	:html => { :id => "updatePasswordForm" }, 
	:complete => "if(request.status==403){alert('your session has expired, please login'); window.location.reload();}" )
%>


<table style ="text-align: right;">
<tbody>
<tr>
<td>

<table border="0" cellpadding="0" cellspacing="0" style ="text-align: right;" width="100%">
	<tr>
		<td colspan="2" style ="text-align: left;">
			<span class ="blackheader">Change Password</span>
			<hr align="left" width="280px" size="1" color="#94a4b1">
			<span class ="text">Make sure your Caps-lock is NOT on.</span><br>
			<span class ="text">Your password must be at least 6 characters long.</span><br>
			<span class ="text">Using both numbers and letters is even better.</span><br>
			<span class ="text">Example:  SHOpping is NOT the same as shopping.</span><br><br>

		</td>
	</tr>
	<tr>
		<td >
			<span class ="labels">Old Password:  </span></td>
			<td><%= password_field_tag("tf_oldpassword","",{ :style=>"size:100px;" }) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="red12"><%= @error_message_old_password %></span>
		</td>
	</tr>
	<tr>
		<td>
			<span class ="labels">New Password:  </span></td>
			<td><%= password_field_tag("tf_password","",{ :style=>"size:100px;" }) %>			
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="red12"><%= error_message_on :users,:password %></span>
		</td>
	</tr>
	<tr>
		<td>
			<span class ="labels">Confirm Password:  </span></td>
			<td><%= password_field_tag("tf_password2","",{ :style=>"size:100px;" }) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="red12"><%= error_message_on :users,:password2 %></span>
		</td>
	</tr>
	<tr>
		<td valign="middle" colspan="2">
			<table border="0" cellpadding="0" cellspacing="0" style="text-align: right;" width="100%">
				<tr>
					<td align="left" style="padding-right:10px;">
						<span class="red12"><%= @error_messages %></span>
						<span class="green12"><%= @output_message %></span>			
					</td>
					<td align="right">
						<input type="submit" value="Save" onclick="this.disabled=true; $('updatePasswordForm').onsubmit();"/>			
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<!--
<span class ="labels">Old Password:  </span><%= password_field_tag("tf_oldpassword","",{ :style=>"size:18;" }) %><%= @error_message_old_password %>
<br><br>
<span class ="labels">New Password:  </span>
<%= password_field_tag("tf_password","",{ :style=>"size:18;" }) %><%= error_message_on :users,:password %><br><br>
<span class ="labels">Confirm Password:  </span>
<%= password_field_tag("tf_password2","",{ :style=>"size:18;" }) %><%= error_message_on :users,:password2 %><br><br>
<%= @output_message %>
<input type="submit" value="Save">
-->

</td>
</tr>
</tbody>
</table>


</form>