= help_nav
#faq-page
  #ttl
    Below are some common questions that people have of CashAddOn. It is a work-in-progress and by no means complete. While we work
    = "on compiling a more comprehensive help section, please feel free to #{link_to('contact us', contact_url)} if you still have a question."

  #question-answer
    .question What is CashAddOn?
    .answer
      CashAddOn is a Firefox add-on that automatically earns users cash back when shopping online at affiliated websites.
      Once installed there is nothing the user needs to remember to do except withdraw the money they earned from their online purchases.

    .question How much does CashAddOn cost?
    .answer
      CashAddOn is 100% free to download and free to use, and can save you money.
      There may be some fees when you withdraw the funds you've earned depending on how you choose to do the withdrawal.

    .question What is the benefit of using CashAddOn?
    .answer
      Using CashAddOn is the easiest way to get cash back on online purchases without affecting your shopping experience on the merchant's website.

    .question How do I register for CashAddOn?
    .answer
      = "Once you install the #{link_to('CashAddOn extension', download_url)}, a sign up window will appear the next time you start Firefox."
      To register you simply need to supply a username, password, and valid email address.

    .question Why can't I register on the website?
    .answer
      Since you need the CashAddOn extension to earn cash back, we wanted to keep everything simplified and in one place.
      Signing up in the add-on will ensure you have it and are earning your cash back savings.

    .question Can I use my account on another computer?
    .answer
      Absolutely, we encourage you to install CashAddOn on other computers.
      You can sign in using the same account and all the cash back earnings will go toward that account.
      = "You can only earn cash back when the #{link_to('CashAddOn extension', download_url)} is installed and you are logged in."

    .question How do I know when I am on a website that earns me cash back?
    .answer
      = "The CashAddOn icon in your Firefox status bar will turn from #{image_tag('plus-standby.gif')} to "
      = "#{image_tag('plus-active.gif')}. When you see the green Cash Back Plus you know you're earning cash back. "
      = "If your icon looks like #{image_tag('plus-error.gif')} then you are not signed in and cannot earn cash back, "
      = "click the icon to sign in and start saving."

    .question How does CashAddOn work?
    .answer
      When you have CashAddOn installed, the extension knows when you are shopping on an affiliated website. When you purchase an item, we collect
      a small payment from the merchant. We then pass a percentage of what we collect back to you.
      This is done seemlessly and your shopping experience will remain exactly the same.

    .question What percent of the money CashAddOn receives is shared with the user?
    .answer
      The percent that we share varies depending on the store and the product.
      There are times when we give out as much as 100% of what we receive.
      In most cases we give the user around 70% of the amount that we bring in from the affiliated website.

    .question How can I withdraw funds?
    .answer
      = "To withdraw funds, #{link_to('sign in', user_sessions_url)} to your account and go to the #{link_to('account section', account_url)}. "
      Then just click the Request Payment link.

  = link_to('Top of page', '#top', :id=>'totop')