- form_for(@users) do |f| # addon/register
  %table{:border=>"0", :style=>"width:440px"}
    %tr
      %td{:colspan=>"2"}<
        %img{:src=>"/images/transparent.gif", :height=>"1", :width=>"440"}
    %tr
      %td{:colspan=>"2", :class=>"text"}
        #signin_link_div
          Thank you for downloading the CashAddOn! Please <strong>Sign Up</strong> below to create an account, or click the <strong>Sign In</strong> tab if you already have an account.
    %tr
      %td{:colspan=>"2"} <br/>
    %tr
      %td{:colspan=>"2", :class=>"errors"}= f.error_messages
    %tr
      %td{:class=>"blackheader"} User ID:
      %td{:align=>"right"}= f.text_field :login
    %tr
      %td{:class=>"blackheader"} Password:
      %td{:align=>"right"}= f.password_field :password
    %tr
      %td{:class=>"blackheader"} Confirm Password:
      %td{:align=>"right"}= f.password_field :password_confirmation
    %tr
      %td{:class=>"blackheader"} Email:
      %td{:align=>"right"}= f.text_field :email
    %tr
      %td{:class=>"text", :colspan=>"2"}
        %input{:type=>"checkbox", :onclick=>"if(this.checked==true){$('submitCmdButton').disabled=false;}else{$('submitCmdButton').disabled=true;}"}
        I Agree to Terms and Conditions of CashAddOn found here
    %tr
      %td &nbsp;
      %td{:align=>"right"}
        %input{:name=>"commit", :type=>"submit", :value=>"Sign Up!", :id=>"submitCmdButton", :disabled=>"true"}
